<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Loopss.me</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="./img/icon.png">
    <!-- import element CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import element-ui -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- web3 & metamask -->
    <script src="./js/web3.min.js"></script>
    <!-- ABIs -->
    <script language="javascript" type="text/javascript" src="./js/ABI_LoopssMe.js"></script>
    <script language="javascript" type="text/javascript" src="./js/ABI_LOOPToken.js"></script>
    <script language="javascript" type="text/javascript" src="./js/ABI_LOOPPool.js"></script>


</head>

<body>
    <div id="app">

        <el-row class="tac " v-if="ratioWH > 0.6" style="height: 100%;">
            <el-col :span="4" style="height: 100%;max-width: 16rem;">
                <!-- <img src="./img/icon.png"> -->
                <div class="grid-content bg-purple" style="text-align: center;" v-if="ratioWH > 0.9">
                    <h3>LOOPSS</h3>
                    <h5>无需质押，信任挖矿</h5>
                </div>
                <el-menu default-active="1-4-1" class="el-menu-vertical-demo bg-purple grid-content"
                    :collapse="hideSider" style="height: 100%;">
                    <el-menu-item index="1">
                        <i class="el-icon-s-home"></i>
                        <span slot="title">Home-首页</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title">Trust-信任</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-attract"></i>
                        <span slot="title">Dig-挖矿</span>
                    </el-menu-item>
                    <el-menu-item index="4" disabled>
                        <i class="el-icon-stopwatch"></i>
                        <span slot="title">LNS-域名</span>
                    </el-menu-item>
                    <el-menu-item index="5" disabled>
                        <i class="el-icon-rank"></i>
                        <span slot="title">Graph-图表</span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-setting"></i>
                        <span slot="title">More-更多</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="20" style="height: 100%;">
                <el-row>

                    <el-col :span="2">
                        <div class="grid-content bg-purple-light"></div>
                    </el-col>
                    <el-col :span="20">
                        <div class="grid-content bg-purple"></div>
                    </el-col>
                    <el-col :span="2">
                        <div class="grid-content bg-purple-light"></div>
                    </el-col>
                </el-row>
            </el-col>

        </el-row>




        <!-- <el-button @click="visible = true">Button</el-button>
        <el-dialog :visible.sync="visible" title="Hello world">
            <p>Try Element</p>
        </el-dialog>

        <el-row :gutter="10">
            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                <div class="grid-content bg-purple"></div>
            </el-col>
            <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11">
                <div class="grid-content bg-purple-light"></div>
            </el-col>
            <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11">
                <div class="grid-content bg-purple"></div>
            </el-col>
            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                <div class="grid-content bg-purple-light"></div>
            </el-col>
        </el-row> -->
    </div>



    <style>
        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        html,
        body {
            height: 100%
        }

        #app {
            height: 100%;
        }
    </style>

</body>


<script>
    // Address
    var adLoopssMe = '0x8E4DfCF7fa2425eC9950f9789D2EB92142bb0C86';
    var adLOOPToken = '0x880E7Df34378712107AcdaCF705c2257Bf42b1A5';//symbol of LOOPToken is LOOP
    var adLOOPPool = '0x89434bfc9708623317F964774708cF9f11963e01';
    // Contract Instance
    var icLoopsMeContract;
    var icLOOPTokenContract;
    var icPoolContract;
    // web3 connect
    web3js = new Web3(web3.currentProvider);
    ethereum.autoRefreshOnNetworkChange = true;
    ethereum.enable();
    window.ethereum;
    // 成功之后这个会返回当前选择的账户
    web3js.eth.getAccounts().then(function (accounts) {
        //现在只能使用then异步的方式返回单个了
        console.log('Now account:', accounts);
    });
    // delay metamask connection
    var lt = self.setInterval("connectNetwork()", 1000);
    var connected = false;
    function connectNetwork() {

        if (connected == false) {
            networkId = parseInt(ethereum.chainId);
            console.log(networkId)
            switch (networkId) {
                case 1337://tf
                    app.netWork = 'Localhost'
                    icLoopsMeContract = new web3js.eth.Contract(LoopssMe_ABI, adLoopssMe);
                    icLOOPTokenContract = new web3js.eth.Contract(LOOPToken_ABI, adLOOPToken);
                    icPoolContract = new web3js.eth.Contract(LOOPPool_ABI, adLOOPPool);
                    connected = true;
                    break;
                case 1://mainnet
                    app.netWork = 'Ethereum'
                    icLoopsMeContract = new web3js.eth.Contract(LoopssMe_ABI, adLoopssMe);
                    icLOOPTokenContract = new web3js.eth.Contract(LOOPToken_ABI, adLOOPToken);
                    icPoolContract = new web3js.eth.Contract(LoopPool_ABI, adLoopPool);
                    connected = true;
                    break;
                case 42://kovan
                    app.netWork = 'Kovan'
                    icLoopsMeContract = new web3js.eth.Contract(LoopssMe_ABI, adLoopssMe);
                    icLOOPTokenContract = new web3js.eth.Contract(LOOPToken_ABI, adLOOPToken);
                    icPoolContract = new web3js.eth.Contract(LoopPool_ABI, adLoopPool);
                    connected = true;
                    break;
                // case 56://BSC
                //     app.netWork = 'BSC'
                //     LoopContract = new web3js.eth.Contract(Loop_ABI, LoopsAddress);
                //     break;
                default:
                    break;
            }
            app.intervalRefresh();
        }
        else {
            self.setInterval("app.intervalRefresh()", 20000);
            clearInterval(lt);
        }
    }

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                //connection
                netWork: 'Unknow',
                //
                visible: false,
                ratioWH: 1,
                hideSider: false
            }
        },
        //声明周期
        beforeCreat() {

        },
        Created() {

        },
        beforeMount() {

        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        beforeDestory() {

        },
        destoryed() {

        },
        watch: {
            ratioWH: {
                handler: function (ratioWH) {
                    if (ratioWH > 0.6 && ratioWH <= 0.9) {
                        this.hideSider = true
                        // console.log(hideSider)
                    } else {
                        this.hideSider = false
                    }
                },
                deep: true
            }

        },
        methods: {
            // 数据处理方法
            _formatBigNumber(_bn) {
                // return web3js.utils.fromWei(_bn, 'ether');
                return parseFloat(web3js.utils.fromWei(_bn, 'ether')).toLocaleString();
                // parseFloat().toLocaleString();
            },
            async intervalRefresh() {
                // this.internationalization(lg);
                await this.getBlockHeight();
                await this.getLoopTotalSupply();
                // this.getMyLNS();
                // this.getMyMintingInWallet();
            },
            getBlockHeight() {
                web3js.eth.getBlockNumber().then((rst) => { this.blockHeight = rst; console.log(rst) })
            },
            getLoopTotalSupply() {
                icLoopsMeContract.methods.totalSupply().call().then((rst) => {
                    this.TotalSupply = this._formatBigNumber(rst);
                    console.log(rst);
                })
            },
            // handleOpen(key, keyPath) {
            //     console.log(key, keyPath);
            // },
            // handleClose(key, keyPath) {
            //     console.log(key, keyPath);
            // },

        }
    })

    app.ratioWH = window.innerWidth / window.innerHeight;
    window.onresize = function () {
        app.ratioWH = window.innerWidth / window.innerHeight;
    };
</script>

</html>