# 告诉EditorConfig插件，这是根文件，不用继续往上查找
root = true
# 匹配文件类型
[*.{js,jsx,ts,tsx,vue,css,less}]
indent_style = space
indent_size = 2
tab_width = 2
# 删除一行中的前后空格
trim_trailing_whitespace = false
# 在文件结尾插入新行
insert_final_newline = true
